html {
	box-sizing: border-box;
	text-align: left;
	margin: 0;
}

*, *::before, *::after {
	box-sizing: inherit;
}

header {
	background-color: #2c3950;
	width:100%;
	position: relative;
	padding-top: 50px;
}

h1 {
	background-color: #1a2230;
	margin: 0;
	color: #fff;
	padding: 1em;
	text-align: center;
	font-family: 'Contrail One', cursive;
}


.wrap {
	position: relative;
	width: 320px;
	margin-left: auto;
	margin-right: auto;
}

.body {
	width: 320px;
	margin-top: 50px;
	display: block;
}

.brain {
	width: 46px;
	position: absolute;
	bottom: 90px;
	left: 8.5em;
	transition: all 200ms linear;
}

.wrap:hover .brain {
	top: -50px;
}

.head-left {
	width: 125px;
	position: absolute;
	bottom: 52px;
	left: 36px;
	transition: all 200ms linear;
}

.wrap:hover .head-left {
	left: -50px;
	bottom: 60px
}

.head-right {
	width: 125px;
	position: absolute;
	bottom: 52px;
	right: 36px;
	transition: all 200ms linear;
}

.wrap:hover .head-right {
	right: -50px;
	bottom: 60px
}
